<ng-template>
    <mat-toolbar color="primary">
        <span>The Coffee Shop</span>
        <span class="flex-grow-1"></span>
        <nav class="d-flex gap 4">
            <button class="btn">
                <i class="fa fa-shopping-basket fa-2x fa-inverse"></i>
            </button>
            <button class="btn">
                <i class="fa fa-user-circle fa-2x fa-inverse profile-icon" aria-hidden="true"></i>
            </button>
            <button class="btn">
                <i class="fa fa-sign-out fa-2x fa-inverse"></i>
            </button>
        </nav>
    </mat-toolbar>
    
    <div class="flex-grow-1 my-3">
        <!-- <app-breadcumb></app-breadcumb> -->
        <router-outlet></router-outlet>
    </div>
</ng-template>

<div class="my-3">
    <div class="d-flex align-items-baseline">
        <span class="font-weight-bold mr-auto flex-grow-1" style="font-size:x-large;">{{"Our products" | uppercase}}</span>
        <app-search (resultEmitter)="search($event)"></app-search>
    </div>
    <div class="my-3">
        <div [class]="['row', 'row-cols-' + 'auto', 'g-3', 'mb-4']" *ngFor="let i of rows">
            <div [class]="['col-sm']" *ngFor="let j of cols">
                <div>
                    <div *ngIf="dbItems?.[i * colNum + j]">
                        <app-product-card class="h-100" [product]="dbItems[i * colNum + j]" (addProductEmitter)="addProduct(dbItems[i * colNum + j])"></app-product-card>
                    </div>
                </div>
            </div>
        </div>
       <app-pagination [lastPage]="lastPage" [numOfElements]="numOfElements" [page]="page" [limit]="limit" (pageChange)="pageChange($event)"></app-pagination>
    </div>
</div>
