<div class="mb-4 d-flex align-items-center">
    <span class="font-weight-bold mr-auto flex-grow-1" style="font-size:x-large;">{{"Product Management" | uppercase}}</span>
    <div class="d-flex gap-1">
        <button class="btn btn-danger" *ngIf="allSelected.length"  (click)="openDeleteDialog(deleteDialog)">
            <i class="fa fa-trash fa-inverse" aria-hidden="true"></i>
        </button>

        <app-search (resultEmitter)="search($event)"></app-search>
    
        <button type="button" (click)="openAddDialog()" class="btn btn-warning">
            <i class="fa fa-plus fa-inverse"></i>
        </button>
        <button class="btn btn-warning">
            <i class="fa fa-refresh fa-inverse" (click)="refresh()"></i>
        </button>
        
    </div>
</div>
<ng-template>
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let columnName of columnNames; index as i">
                    <div class="d-flex align-items-center">
                        <span>{{columnName}}</span>
                    </div>
                </th>
                <th class="h-100 d-inline-block">
                    <span>Action</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of dbProducts">
                <!-- <td *ngFor="let column of columns">
                    {{user[column]}}
                </td> -->
                <td><a [routerLink]="['/product/', product.id]">{{product.name}}</a></td>
                <td>
                    <img [src]="product.image"/>
                </td>
                <td>{{product.category.name}}</td>
                <td>
                    <!-- <ng-container *ngIf="product.variants.length === 1">{{product.variants[0].size}}</ng-container>
                    <ng-container *ngIf="product.variants.length > 1">Multiple</ng-container> -->
                    {{getSize(product)}}
                </td>
                <td>
                    <button type="button" class="btn btn-warning me-3"
                    (click)="setSelectedProduct(product); openUpdateDialog();"
                    >
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </button>
                    <button type="button" class="btn btn-danger me-3"
                    (click)="setSelectedProduct(product); openDeleteDialog(deleteDialog)"
                    >
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </button>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</ng-template>

<app-table [data]="dbProducts"  [columns]="tableColumns" [rowActions]="rowActions" (selectedEmitter)="setAllSelected($event)"></app-table>
<app-pagination [numOfElements]="products.length" [lastPage]="lastPage" (pageChange)="onPageChange($event)"></app-pagination>

<ng-template>
    <div class="d-flex">
        <!-- <p class="flex-grow-1">Showing {{products.length}} products</p> -->
        <app-pagination [numOfElements]="products.length" [lastPage]="lastPage" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
</ng-template>

<ng-template #deleteDialog let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Delete product</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete all selected products?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="modal.dismiss('Cancel delete')">Cancel</button>
        <button class="btn btn-warning" type="button" (click)="modal.close()">OK</button>
    </div>
</ng-template>

<!-- <div *ngIf="enableDelete && selectedUser">
    <h3>Delete users</h3>
    <app-modal (emitter)="confirmDelete($event)"></app-modal>
</div>
<app-update-user *ngIf="enableEdit && selectedUser" [user]="selectedUser" (userEmitter)="updateUser($event)"></app-update-user>
<app-add-user *ngIf="enableAdd" (userEmitter)="addUser($event)"></app-add-user> -->