<div *ngIf="order">
    <div class="modal-header">
        <h1 class="modal-title">Order Details</h1>
        <button class="btn-close" type="button" (click)="cancel()"></button>
    </div>
    <div class="modal-body">
        <div class="mb-3">
            <h2>Basic Info</h2>
            <div class="row align-items-baseline mb-3">
                <label class="col-sm-3">Delivery Addr.</label>
                <div class="col-sm">{{order.deliveryAddr}}</div>
            </div>
            <div class="row align-items-baseline mb-3">
                <label class="col-sm-3">Delivery Time</label>
                <div class="col-sm">{{order.deliveryTime}}</div>
            </div>
            <div class="row align-items-baseline mb-3">
                <label class="col-sm-3">Note</label>
                <div class="col-sm">{{order.note}}</div>
            </div>
        </div>

        <div class="mb-3"><hr/></div>

        <div class="mb-5">
            <div class="mb-5">
                <div class="d-flex align-items-baseline">
                    <h2 class="flex-grow-1">Items</h2>
                    <div *ngIf="(!order.items) || (!order.items.length)">None</div>
                </div>
                <ng-container *ngFor="let product of order.items; let i = index">
                    <div class="row align-items-baseline mb-3">
                        <label class="col-sm-3">{{i + 1}}</label>
                        <div class="col-sm d-flex">
                            <div class="flex-grow-1"></div>
                            <a [routerLink]="['/product', product.id]" (click)="closeModal()">
                                {{product.name}} - {{product.variants[0].price | vnd}}
                            </a>
                        </div>
                    </div>
                </ng-container>
            </div>

            <!-- <div class="mb-5">
                <div class="d-flex align-items-baseline">
                    <h2 class="flex-grow-1">Voucher</h2>
                    <div *ngIf="(!order.vouchers) || (!order.vouchers.length)">None</div>
                </div>
                <ng-container *ngFor="let voucher of order.vouchers; let i = index">
                    <div class="row align-items-baseline mb-3">
                        <label class="col-sm-3">{{i + 1}}</label>
                        <div class="col-sm d-flex">
                            <div class="flex-grow-1"></div>
                            <div>
                                {{voucher.code}} - {{voucher.maxPercentage}}% (Max: {{voucher.maxDiscountInVND | currency}}) 
                            </div>
                        </div>
                    </div>
                </ng-container>
            </div> -->

            <div class="mb-5">
                <div class="d-flex align-items-baseline">
                    <h2 class="flex-grow-1">Voucher</h2>
                    <div *ngIf="(!order.vouchers) || (!order.vouchers.length)">None</div>
                </div>
                <ng-container *ngFor="let voucher of order.vouchers; let i = index">
                    <div class="row align-items-baseline mb-3">
                        <label class="col-sm-3">{{i + 1}}</label>
                        <div class="col-sm d-flex">
                            <div class="flex-grow-1"></div>
                            <!-- <a [routerLink]="['/product', product.id]" (click)="closeModal()">
                                {{product.name}} - {{product.variants[0].price | vnd}}
                            </a> -->
                            <span>
                                {{voucher.code}} - {{voucher.maxDiscountInVND | vnd}}
                            </span>
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="mb-5 row align-items-baseline">
                <h2 class="col-sm-3">Total price</h2>
                <div class="col-sm d-flex">
                    <div class="flex-grow-1"></div>
                    <span>{{totalPrice | vnd}}</span>
                </div>
            </div>
        </div>
        

        
    </div>

</div>
<div *ngIf="!order">
    <div class="modal-header">
        <h1 class="modal-title">Order details</h1>
        <button class="btn-close" type="button" (click)="cancel()"></button>
    </div>
    <div class="modal-body">
        Sorry, we can not display the order.
    </div>
</div>
