<div class="my-4">
    <app-breadcumb></app-breadcumb>
</div>

<div *ngIf="(product$ | async) as product; else notAvailable">
    <div class="row gap-3">
        <div class="col-md-6">
            <img [src]="product.image" class="w-100"/>
        </div>
        <div class="col-md">
            <div class="mb-5">
                <h2>{{ product.name }}</h2>
            </div>
            <div class="mb-5">
                <div class="mb-3">
                    <span class="fs-2 text-primary">{{(selectedVariant?.price ?? product.variants[0].price) | vnd}}</span>
                </div>
            </div>
            <!-- <mat-divider></mat-divider> -->
            
            <div class="mb-5">
                <div class="mb-3 fw-bold">Information</div>
                {{product.description}}
            </div>

            <!-- <div class="mb-5">
                <mat-divider></mat-divider>
            </div> -->

            <div class="mb-5" *ngIf="product.variants.length > 1">
                <ng-container>
                    <mat-chip-list selectable>
                        <label class="me-4 fs-5 fw-bold">Variants:</label>
                        <mat-chip #c="matChip" [value]="variant" color="primary" *ngFor="let variant of product.variants" [selected]="variant == selectedVariant"
                            (selectionChange)="updateSelection($event)" (click)="changeVariant(variant); ">
                            {{variant.size | uppercase}}
                        </mat-chip>
                    </mat-chip-list>
                </ng-container>
            </div>
            
            <div class="mb-5 d-flex gap-3">
                <button mat-flat-button color="primary" (click)="cartService.addItem(product)">Add to cart</button>
                <a [routerLink]="'/cart'" mat-flat-button color="warn" (click)="cartService.addItem(product)">Buy now!</a>
            </div>
        </div>
    </div>
</div>

<ng-template #notAvailable>
    <div>Sorry, the product is not available.</div>
</ng-template>
