<template>
    <form [formGroup]="search" id="search-form" (ngSubmit)="submit()">
        <div class="input-group">
            <input type="text" placeholder="Search" formControlName="search" class="form-control" />
            <button type="submit" class="btn btn-outline-secondary">
                <i class="fa fa-search" aria-hidden="true"></i>
            </button>
        </div>
    </form>
</template>

<form id="searchForm" [formGroup]="search" (ngSubmit)="submit()">
    <mat-form-field [style]="{marginBottom: '-0.25em'}" class="search-field" appearance="outline">
        <mat-label>Search</mat-label>
        <input type="text" matInput formControlName="search">
        <button mat-icon-button matSuffix type="submit">
            <mat-icon>search</mat-icon>
        </button>
    </mat-form-field>
</form>