<!-- <p>voucher-detail works!</p> -->
<div *ngIf="voucher">
    <div class="modal-header">
        <h3 class="modal-title">Voucher Details</h3>
        <button class="btn-close" type="button" (click)="cancel()"></button>
    </div>
    <div class="modal-body">
        <div class="mb-5">
            <h4>Basic</h4>
            <div class="row align-items-baseline mb-3">
                <label for="detail-code" class="col-sm-3">
                    Code
                </label>
                <div class="col-sm">
                    {{voucher.code}}
                </div>
            </div>
            <div class="row align-items-baseline mb-3">
                <label for="detail-limit" class=" col-sm-3">
                    Limit
                </label>
                <div class="col-sm">
                    {{voucher.usageLeft}}
                </div>
            </div>
            <div class="row align-items-baseline mb-3">
                <label for="detail-minProducts" class=" col-sm-3">
                    Minimum products required in an order
                </label>
                <div class="col-sm">
                    {{voucher.minProductsRequired}}
                </div>
            </div>
            <div class="row align-items-baseline mb-3">
                <label for="maxPercentage" class=" col-sm-3">
                    Discount max (%)
                </label>
                <div class="col-sm">
                    {{voucher.maxPercentage}}
                </div>
            </div>
            <div class="row align-items-baseline mb-3">
                <label for="maxDiscount" class=" col-sm-3">
                    Discount up to (VNĐ)
                </label>
                <div class="col-sm">
                    {{voucher.maxDiscountInVND}}
                </div>
            </div>

            <div class="mb-5">
                <div class="row align-items-base-line mb-3">
                    <label for="" class=" col-sm-3">Items Applied</label>
                    <div class="col-sm">
                        <div *ngFor="let item of voucher.items">
                            <a [routerLink]="['/product', item.id]" (click)="closeModal()">{{item.name}}</a>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
