<nav class="breadcrumb mb-0">
    <ol class="breadcrumb">
        <li class="breadcrumb-item" [class.active]="breadcrumb.url === currentURL" *ngFor="let breadcrumb of (breadcrumbs$ | async)">
            <a [routerLink]="breadcrumb.url" >{{ breadcrumb.label }}</a>
        </li>
    </ol>
</nav>