<div *ngIf="user">
  <div class="modal-header">
    <h3 class="modal-title">Update Account</h3>
  </div>
  <form id="update-user-form" (ngSubmit)="submit()" [formGroup]="form">

    <div class="modal-body">
      <!-- The (ngSubmit) currently not work -->
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" formControlName="email" />
      </div>
      <div>
        <label for="name">Name</label>
        <input type="text" id="name" placeholder="{{user.name}}" formControlName="name" />
      </div>
      <div>
        <label for="phone">Phone</label>
        <input type="tel" id="phone" formControlName="phone" />
      </div>
      <div>
        <label>Gender</label>
        <input type="radio" id="male" value="Male" name="gender" formControlName="gender">
        <label for="male">Male</label>
        <input type="radio" id="female" value="Female" name="gender" formControlName="gender">
        <label for="female">Female</label>
      </div>
      <div>
        <label for="role">Role</label>
        <select name="role" id="role" formControlName="role">
          <option value="Admin" [selected]="user.role === 'Admin'">Admin</option>
          <option value="User" [selected]="user.role === 'User'">User</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button form="update-user-form" type="reset" (click)="cancel()">Cancel</button>
      <button form="update-user-form" type="submit">Save</button>
    </div>
  </form>  
</div>