<ng-template>
  <div>
    <div class="modal-header">
      <h3 class="modal-title">Add Account</h3>
    </div>
    <form id="add-user-form" (ngSubmit)="submit()" [formGroup]="form">
      <div class="modal-body">
        <div>
          <mat-form-field appearance="outline">
            <mat-label for="email">Email</mat-label>
            <input matInput type="email" id="email" formControlName="email" />
            <mat-error *ngIf="email.hasError('required') && (email.touched || email.dirty)">
              Sorry, email is required!
            </mat-error>
            <mat-error *ngIf="email.hasError('email') && (email.touched || email.dirty)">
              Sorry, this should be an email.
            </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field appearance="outline">
            <mat-label for="name">Name</mat-label>
            <input matInput type="text" id="name" formControlName="name" />
            <mat-error *ngIf="name.errors?.['required'] && (name.touched || name.dirty)">
              Sorry, name is required!
            </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <mat-form-field appearance="outline">
            <mat-label for="phone">Phone</mat-label>
            <input matInput type="tel" id="phone" formControlName="phone" />
            <mat-error *ngIf="phone.errors?.['pattern'] && (phone.touched || phone.dirty)">
              Invalid phone number!
            </mat-error>
          </mat-form-field>
        </div>
  
        <div>
          <!-- <mat-label>Gender</mat-label> -->
          <template>
            <input type="radio" id="male" value="Male" name="gender" formControlName="gender">
            <label for="male">Male</label>
            <input type="radio" id="female" value="Female" name="gender" formControlName="gender">
            <label for="female">Female</label>
          </template>
          <mat-radio-group name="gender" formControlName="gender">
            <mat-radio-button value="Male" >Male</mat-radio-button>
            <mat-radio-button value="Female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
  
        <div>
          <ng-template>
            <label for="role">Role</label>
            <select name="role" id="role" formControlName="role">
              <option value="Admin">Admin</option>
              <option value="User">User</option>
            </select>
          </ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <!-- <mat-select formControlName="role">
              <mat-option value="Admin">Admin</mat-option>
              <mat-option value="User">User</mat-option>
            </mat-select> -->
            <select matNativeControl name="role" id="role" formControlName="role">
              <option value="Admin">Admin</option>
              <option value="User">User</option>
            </select>
          </mat-form-field>
        </div>
  
        <div class="modal-footer">
          <button form="add-user-form" class="btn" type="button" (click)="cancel()">Cancel</button>
          <button form="add-user-form" class="btn btn-success" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>

<div>
  <h1 mat-dialog-title>Add Account</h1>
  <div class="mat-dialog-content">
    <form id="add-user-form" (ngSubmit)="submit()" [formGroup]="form">
      <div class="modal-body">
        <div class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label for="email">Email</mat-label>
            <input matInput type="email" id="email" formControlName="email" />
            <mat-error *ngIf="email.errors?.['required'] && (email.touched || email.dirty)">
              Sorry, email is required!
            </mat-error>
            <mat-error *ngIf="email.errors?.['email'] && (email.touched || email.dirty)">
              Sorry, this should be an email.
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label for="name">Name</mat-label>
            <input matInput type="text" id="name" formControlName="name" />
            <mat-error *ngIf="name.errors?.['required'] && (name.touched || name.dirty)">
              Sorry, name is required!
            </mat-error>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <mat-form-field appearance="outline">
            <mat-label for="phone">Phone</mat-label>
            <input matInput type="tel" id="phone" formControlName="phone" />
            <mat-error *ngIf="phone.errors?.['pattern'] && (phone.touched || phone.dirty)">
              Invalid phone number!
            </mat-error>
          </mat-form-field>
        </div>
        
        <div class="mb-3">
          <ng-template>
            <label for="role">Role</label>
            <select name="role" id="role" formControlName="role">
              <option value="Admin">Admin</option>
              <option value="User">User</option>
            </select>
          </ng-template>
          <mat-form-field appearance="outline">
            <mat-label>Role</mat-label>
            <!-- <mat-select formControlName="role">
              <mat-option value="Admin">Admin</mat-option>
              <mat-option value="User">User</mat-option>
            </mat-select> -->
            <select matNativeControl name="role" id="role" formControlName="role">
              <option value="Admin">Admin</option>
              <option value="User">User</option>
            </select>
          </mat-form-field>
        </div>

        <div class="mb-3">
          <!-- <mat-label>Gender</mat-label> -->
          <label class="mb-2">Gender:</label>
          <template>
            <input type="radio" id="male" value="Male" name="gender" formControlName="gender">
            <label for="male">Male</label>
            <input type="radio" id="female" value="Female" name="gender" formControlName="gender">
            <label for="female">Female</label>
          </template>
          <div>
            <mat-radio-group name="gender" formControlName="gender">
              <mat-radio-button value="Male" >Male</mat-radio-button>
              <mat-radio-button value="Female">Female</mat-radio-button>
            </mat-radio-group>
          </div>
        </div>

        <div mat-dialog-actions>
          <button form="add-user-form" class="btn" type="button" (click)="cancel()">Cancel</button>
          <button form="add-user-form" class="btn btn-success" type="submit">Save</button>
        </div>
      </div>
    </form>
  </div>
</div>

