<div *ngIf="product">
    <ng-template>
        <mat-card>
            <mat-card-header>
                <img mat-card-avatar [src]="product.image"/>
                <mat-card-title>{{product.name}}</mat-card-title>
                <!-- <mat-card-subtitle></mat-card-subtitle> -->
            </mat-card-header>
        </mat-card>
    </ng-template>
    <div class="d-flex gap-3">
        <div class="">
            {{product.name}}
        </div>
        <div class="flex-grow-1"></div>
        <div>
            {{product.variants[0].price | vnd}}
        </div>
    </div>
</div>
