<div class="row bg-secondary vh-100 align-items-center">
    <div class="col-sm"></div>
    <div class="col-sm-6 col-md-4">
        <form [formGroup]="loginForm" class="bg-light p-3" (ngSubmit)="onSubmit()">
            <h3>The Coffee House</h3>
            <div class="mb-3">
                <input id="username" class="form-control" type="text" formControlName="username" placeholder="Username"/>
            </div>
            <div class="mb-3">
                <input id="password" class="form-control" type="password" formControlName="password" placeholder="Password"/>
            </div>
            <button class="button btn btn-warning btn-block w-100 text-white" type="submit">Login</button>
        </form>
    </div>
    <div class="col-sm"></div>
</div>