<!-- <p>pagination works!</p> -->
<ng-template>
    <nav>
        <ul class="pagination">
            <li class="page-item"><button class="btn btn-sm" (click)="setPage(0)"><<</button></li>
            <li class="page-item"><button class="btn btn-sm" (click)="setPage(page - 1)" [disabled]="page <= 0"><</button></li>
            <li class="page-item"><span class="btn btn-sm">{{page + 1}}</span></li>
            <li class="page-item"><button class="btn btn-sm" [disabled]="page >= lastPage" (click)="setPage(page + 1)">></button></li>
            <li class="page-item"><button class="btn btn-sm" (click)="setPage(lastPage)">>></button></li>
        </ul>
    </nav>
</ng-template>

<div class="d-flex">
    <div class="flex-grow-1"></div>
    <mat-paginator class="w-100" showFirstLastButtons [pageSize]="limit" [length]="numOfElements" (page)="setPage($event.pageIndex)"></mat-paginator>
</div>
