<div>
    <div class="modal-header">
        <h1 class="modal-title">Add Voucher</h1>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="modal-body">
            <div class="mb-5">
                <h2>Basic</h2>
                <div class="row align-items-baseline mb-3">
                    <label for="voucherCode" class="col-form-label col-sm-3">
                        Code
                    </label>
                    <div class="col-sm">
                        <input type="text" id="voucherCode" class="form-control" formControlName="code"
                            required="required">
                    </div>
                </div>
                <div class="row align-items-baseline mb-3">
                    <label for="limit" class="col-form-label col-sm-3">
                        Limit
                    </label>
                    <div class="col-sm">
                        <input type="number" id="limit" class="form-control" formControlName="limit"
                            required="required">
                    </div>
                </div>
                <div class="row align-items-baseline mb-3">
                    <label for="minProductsRequired" class="col-form-label col-sm-3">
                        Min. products in order
                    </label>
                    <div class="col-sm">
                        <input type="number" id="minProductsRequired" class="form-control" formControlName="minProductsRequired"
                            required="required"/>
                    </div>
                </div>
                <div class="row align-items-baseline mb-3">
                    <label for="maxPercentage" class="col-form-label col-sm-3">
                        Discount max (%)
                    </label>
                    <div class="col-sm">
                        <input type="number" id="maxPercentage" class="form-control" formControlName="maxPercentage"
                            required="required"/>
                    </div>
                </div>
                <div class="row align-items-baseline mb-3">
                    <label for="maxDiscount" class="col-form-label col-sm-3">
                        Discount up to (VNĐ)
                    </label>
                    <div class="col-sm">
                        <input type="number" step="1000" id="maxDiscount" class="form-control" 
                            formControlName="maxDiscountInVND" required="required"/>
                    </div>
                </div>
            </div>

            <div class="mb-5">
                <h2>Date</h2>
                <div class="row align-items-baseline mb-3">
                    <label class="col-form-label col-sm-3" for="startDate">Start</label>
                    <div class="col-sm">
                        <!-- <input [ngClass]="{'is-invalid': dateGroup.errors?.['startLargerThanEnd'] && (dateGroup.touched || dateGroup.dirty)}" class="form-control"
                            id="startDate" type="date" formControlName="start" required useValueAsDate/> -->
                        <input class="form-control" type="date" formControlName="start" required useValueAsDate>
                    </div>
                </div>
                <div class="row align-items-baseline mb-3">
                    <label class="col-form-label col-sm-3" for="endDate">End</label>
                    <div class="col-sm">
                        <!-- <input [ngClass]="{'is-invalid': dateGroup.errors?.['startLargerThanEnd'] && (dateGroup.touched || dateGroup.dirty)}" class="form-control"
                            id="endDate" type="date" formControlName="end" required useValueAsDate/> -->
                        <input class="form-control" type="date" formControlName="end" required useValueAsDate>
                    </div>
                </div>
                <div class="text-danger" *ngIf="form.hasError('startLargerThanEnd')">End date should be larger than start date</div>
            </div>

            <div class="mb-5" formArrayName="items">
                <div class="row align-items-baseline mb-3">
                    <h2 for="" class="col-form-label col-sm-3">Items</h2>

                    <div class="col-sm">
                        <ng-container *ngFor="let item of items.controls; let i = index">
                            <div class="row mb-3">
                                <div class="col-sm d-flex gap-2">
                                    <div class="flex-grow-1">
                                        <select name="" [compareWith]="compareProduct" id="" [formControlName]="i" class="form-select">
                                            <option [ngValue]="null" disabled>Choose products</option>
                                            <option [ngValue]="product" *ngFor="let product of (products)">
                                                {{product.name}}
                                            </option>
                                        </select>
                                    </div>

                                    <div class="">
                                        <button (click)="deleteItem(i)" class="btn btn-outline-danger">
                                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                </div>
                                
                            </div>
                        </ng-container>
                        <div class="row">
                            <div class="col-sm">
                                <button (click)="addItem()" class="btn btn-success">
                                    Add product
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            
        </div>
        <div class="modal-footer">
            <button class="btn" type="button" (click)="cancel()">Cancel</button>
            <button class="btn btn-warning" type="submit">Save</button>
        </div>
    </form>
</div>