<div class="mb-4 d-flex align-items-center">
    <span class="font-weight-bold mr-auto flex-grow-1" style="font-size:x-large;">{{"Account Management" | uppercase}}</span>
    <div class="d-flex gap-1">
        <button class="btn btn-danger" *ngIf="allSelected.length"  (click)="openDeleteModal(deleteDialog)">
            <i class="fa fa-trash fa-inverse" aria-hidden="true"></i>
        </button>

        <app-search (resultEmitter)="search($event)"></app-search>
    
        <button class="btn btn-warning" (click)="openAddDialog()">
            <i class="fa fa-plus fa-inverse"></i>
        </button>
        <button class="btn btn-warning" (click)="refresh()">
            <i class="fa fa-refresh fa-inverse"></i>
        </button>
    
    </div>
</div>
<!-- <template>
    <table class="table">
        <thead>
            <tr>
                <th *ngFor="let col of columns; index as i">
                    <div class="d-flex align-items-center">
                        <span>{{col["title"]}}</span>
                        <div class="d-flex flex-column">
                            <button class="btn" (click)="sort(col['property'],'asc')">
                                <i class="fa fa-sort-asc" aria-hidden="true"></i>
                            </button>
                            <button class="btn" (click)="sort(col['property'],'desc')">
                                <i class="fa fa-sort-down" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
                </th>
                <th>
                    <div class="d-flex flex-row align-items-center">
                        <span class="">Action</span>
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of dbUsers">
                <template>
                    <td *ngFor="let column of columns">
                        {{user[column]}}
                    </td>
                </template>
                <td>{{user.name}}</td>
                <td>{{user.gender}}</td>
                <td>{{user.role}}</td>
                <td>{{user.phone}}</td>
                <td>{{user.email}}</td>
                <td>
                    <div>
                        <button type="button" (click)="openUpdateModal(user)">
                            <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        </button>
                        <button type="button" (click)="setSelectedUser(user); enableDelete=true; openDeleteModal(deleteDialog)">
                            <i class="fa fa-trash" aria-hidden="true"></i>
                        </button>
                    </div>
                </td>
            </tr>
        </tbody>
        <tfoot></tfoot>
    </table>
</template> -->
<app-table [columns]="columns" [data]="dbUsers" [rowActions]="rowActions" (sortEmitter)="sort($event)" (selectedEmitter)="setAllSelected($event)"></app-table>
<app-pagination [numOfElements]="users.length" [lastPage]="lastPage" [page]="page" (pageChange)="onChangePage($event)"></app-pagination>

<ng-template>
    <div class="d-flex">
        <!-- <p class="flex-grow-1">Showing {{users.length}} users</p> -->
        <app-pagination [numOfElements]="users.length" [lastPage]="lastPage" [page]="page" (pageChange)="onChangePage($event)"></app-pagination>
    </div>
</ng-template>

<div *ngIf="enableDelete && selectedUser">
    <h3>Delete users</h3>
    <!-- <app-modal (emitter)="confirmDelete($event)"></app-modal> -->
</div>

<ng-template #deleteDialog let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Delete user</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete all selected accounts?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="modal.dismiss('Cancel delete')">Cancel</button>
        <button class="btn btn-warning" type="button" (click)="modal.close()">OK</button>
    </div>
</ng-template>

<!-- <ng-template #content let-modal>
    <app-update-user *ngIf="enableEdit && selectedUser" [user]="selectedUser" (userEmitter)="updateUser($event)"></app-update-user>
</ng-template> -->

<!-- <app-update-user *ngIf="enableEdit && selectedUser" [user]="selectedUser" (userEmitter)="updateUser($event)"></app-update-user> -->
<!-- <app-add-user *ngIf="enableAdd" (userEmitter)="addUser($event)"></app-add-user> -->