<div *ngIf="product" [class]="class">
    <ng-template>
        <mat-card>
            <img mat-card-image [src]="product.image">
            <mat-card-title>{{product.name}}</mat-card-title>
            <mat-card-content>{{product.variants[0].price | vnd}}</mat-card-content>
            <!-- <mat-card-content>{{product.description}}</mat-card-content> -->
            <mat-card-actions [align]="'end'">
                <button mat-button>Add to cart</button>
                <a [routerLink]="['/product', product.id]" mat-button>Read More</a>
            </mat-card-actions>
        </mat-card>
    </ng-template>
    <div class="card d-flex h-100 flex-column">
        <img class="card-img-top" [src]="product.image"/>
        <div class="card-body">
            <h4 class="card-title flex-grow-1">{{product.name}}</h4>
            <p class="card-text">{{product.variants[0].price | vnd}}</p>
        </div>
        <div class="card-footer text-nowrap">
            <button class="btn btn-primary card-link" (click)="addProduct()">
                <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </button>
            <a [routerLink]="['/product', product.id]" class="card-link">Read More</a></div>
    </div>
</div>

<div *ngIf="!product">
    Sorry, there is no product to display.
</div>
