<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer position="start" class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
        <mat-toolbar>Menu</mat-toolbar>
        <mat-nav-list>
            <!-- 
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a> 
      -->
            <a mat-list-item class="" routerLink="./account-mgmt">
                <i class="fa fa-users  me-3"></i> 
                <span>User</span>
            </a>
            <a mat-list-item class="" routerLink="./product-mgmt">
                <i class="fa fa-coffee  fa me-3"></i>
                <span>Product</span>
            </a>
            <a mat-list-item class="" routerLink="./voucher-mgmt">
                <i class="fa fa-ticket  fa me-3" aria-hidden="true"></i>
                <span>Voucher</span>
            </a>
            <ng-template>
                <a mat-list-item class="" routerLink="./store-mgmt">
                    <i class="fa fa-home  fa me-3" aria-hidden="true"></i>
                    <span>Store</span>
                </a>
            </ng-template>
            <a mat-list-item class="" routerLink="./order-mgmt">
                <i class="fa fa-shopping-basket  fa me-3" aria-hidden="true"></i>
                <span>Order</span>
            </a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <mat-toolbar color="primary" class="d-flex">
            <div class="flex-grow-1 align-items-bottom">
                <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
                    *ngIf="isHandset$ | async">
                    <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
                </button>
                <span>The Coffee Shop</span>
            </div>
            
            <nav class="d-flex gap-3">
                <button class="btn">
                    <i class="fa fa-user-circle fa-2x fa-inverse profile-icon" aria-hidden="true"></i>
                </button>
                <button class="btn" (click)="logout()">
                    <i class="fa fa-sign-out fa-2x fa-inverse"></i>
                </button>
            </nav>
        </mat-toolbar>

        <!-- Add Content Here -->
        <div [class]="'flex-grow-1 my-3 ' + ((isHandset$ |async) ? 'mx-4' : 'mx-3')">
            <app-breadcumb></app-breadcumb>
            <router-outlet></router-outlet>
        </div>

    </mat-sidenav-content>
</mat-sidenav-container>