<div class="navbar header">
    <h3 class="navbar-brand">{{"THE COFFEE SHOP"}}</h3>
    <!-- <div class="fa-stack align-middle position-relative">
        <i class="fa fa-user-circle fa-stack-2x fa-inverse profile-icon" aria-hidden="true"></i>
    </div> -->
    <nav class="d-flex gap-4">
        <button class="btn">
            <i class="fa fa-user-circle fa-2x fa-inverse profile-icon" aria-hidden="true"></i>
        </button>
        <button class="btn p-0" (click)="logout()"><i class="fa fa-sign-out fa-2x fa-inverse"></i></button>
    </nav>
</div>