.header {
    padding: 1em;
    margin: 0;
    background-color: orange;
    color: black;
}

.profile {
    /* padding: 0.5em;
    border-radius: 50%;
    border-color: white;
    border-width: 1em; */
}

.profile-icon {
    /* color: white;
    padding: 0.25em;
    border-radius: 50%;
    border-color: red;
    border-width: 0.25em; */
}