<div class="my-4">
    <div class="my-4">
        <app-breadcumb></app-breadcumb>
    </div>

    <div class="d-flex align-items-baseline mb-4">
        <span class="font-weight-bold mr-auto flex-grow-1" style="font-size:x-large;">{{"Your cart"}}</span>
        <!-- <app-search (resultEmitter)="search($event)"></app-search> -->
    </div>

    <div class="row">
        <div class="col-lg-7">
            <h1>Order details</h1>
            <app-order-details (emitter)="checkout($event)"></app-order-details>
        </div>
        
        <div class="col-lg">
            <div class="mb-3">
                <h1>Your order</h1>
                <div class="mb-3">
                    <mat-card>
                        <div class="d-flex flex-column gap-3" *ngIf="items.length; else emptyWarning">
                            <div *ngFor="let item of items">
                                <app-cart-item [product]="item"></app-cart-item>
                            </div>
                        </div>
                        <ng-template #emptyWarning>
                            <div class="text-danger">No products</div>
                        </ng-template>
                    </mat-card>
                </div>

                <mat-divider></mat-divider>

                <div class="mb-3">
                    <mat-card>
                        <div class="d-flex align-items-baseline">
                            <h3>Voucher</h3>
                            <span class="flex-grow-1"></span>
                            <button mat-button color="primary" [disabled]="arr.length > 0" (click)="add()">
                                <i class="fa fa-plus fa-xs" aria-hidden="true"></i>
                            </button>
                        </div>
                        <ng-container [formGroup]="voucherArrayForm">
                            <ng-container formArrayName="arr">
                                <div *ngFor="let voucher of arr.controls; let i = index">
                                    <div class="d-flex align-items-baseline gap-3">
                                        <div class="d-flex gap-2">
                                            <div>
                                                <select class="form-select w-auto flex-shrink-1" [formControlName]="i" [compareWith]="compareVoucher">
                                                    <option [ngValue]="null" disabled>Choose the voucher</option>
                                                    <option *ngFor="let v of availableVouchers" [ngValue]="v" [disabled]="v.minProductsRequired > items.length">
                                                        {{v.code}}
                                                    </option>
                                                </select>
                                                <div *ngIf="arr.get(i.toString())?.hasError('required') && (arr.get(i.toString())?.dirty || arr.get(i.toString())?.touched)">
                                                    You must select a voucher. If not, remove the voucher with the button.
                                                </div>
                                            </div>
                                            <button (click)="deleteVoucher(i)" class="btn btn-outline-danger">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                        <div class="flex-grow-1"></div>
                                        <span class="text-success fs-5">- {{getTrueDiscount(voucher.value) | vnd}}</span>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </mat-card>
                </div>

                <mat-divider></mat-divider>

                <div class="mb-3">
                    <mat-card>
                        <div class="d-flex mb-3 align-items-top gap-3">
                            <div class="flex-grow-1 fs-4"><strong>Total</strong></div>
                            <span class="text-danger text-bold fs-4">{{calculateTotal() | vnd}}</span>
                        </div>
                        <div>

                        </div>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>