<template>
    <app-top-bar></app-top-bar>
    
    <div class="d-flex gap-3">
         <nav class="flex-column flex-shrink-0 header bg-dark ">
            <ul class="nav mb-auto nav-pills nav-flush flex-column flex-grow-1 flex-shrink-0 flex-basis-auto">
                <li class="nav-item">
                    <a class="nav-link p-4"
                        routerLink="./account-mgmt"
                        routerLinkActive="activeLink">
                        <i class="fa fa-users fa-2x fa-inverse"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4"
                        routerLink="./product-mgmt"
                        routerLinkActive="activeLink">
                        <i class="fa fa-coffee fa-2x fa-inverse"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link p-4"
                        routerLink="./voucher-mgmt"
                        routerLinkActive="activeLink">
                        <i class="fa fa-ticket fa-2x fa-inverse" aria-hidden="true"></i>
                    </a>
                </li>
                <!-- <li class="nav-item">
                    <a class="nav-link p-4"
                        routerLink="./store-mgmt"
                        routerLinkActive="activeLink">
                        <i class="fa fa-home fa-2x fa-inverse" aria-hidden="true"></i>
                    </a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link p-4"
                        routerLink="./order-mgmt"
                        routerLinkActive="activeLink">
                        <i class="fa fa-shopping-basket fa-2x fa-inverse" aria-hidden="true"></i>
                    </a>
                </li>
                <!-- <li class="mb-auto"></li> -->
            </ul>
            <div class="flex-shrink-0 bg-dark">
                <!-- Hello, abc -->
            </div>
        </nav>
    
        <div class="mt-3 mb-4 me-3 flex-grow-1">
            <app-breadcumb></app-breadcumb>
            <router-outlet></router-outlet>
        </div>
    </div>
</template>

<app-admin-navigation></app-admin-navigation>
