<div class="mb-4 d-flex align-items-center">
    <span class="font-weight-bold mr-auto flex-grow-1" style="font-size:x-large;">{{"Order Management" | uppercase}}</span>
    <div class="d-flex gap-1">
        <app-search (resultEmitter)="search($event)"></app-search>

        <button type="button" class="btn btn-warning" (click)="openAddOrder()">
            <i class="fa fa-plus fa-inverse"></i>
        </button>
        <button class="btn btn-warning" (click)="refresh()">
            <i class="fa fa-refresh fa-inverse"></i>
        </button>
    </div>
</div>
<app-table [columns]="columns" [data]="dbOrders" [rowActions]="rowActions"></app-table>
<app-pagination [numOfElements]="orders.length" [lastPage]="lastPage" (pageChange)="onPageChange($event)"></app-pagination>

<ng-template>
    <div class="d-flex align-items-center">
        <!-- <p class="flex-grow-1">Showing {{orders.length}} products</p> -->
        <app-pagination [numOfElements]="orders.length" [lastPage]="lastPage" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
</ng-template>


<ng-template #cancelDialog let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Delete user</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete all selected accounts?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="modal.dismiss()">Cancel</button>
        <button class="btn btn-warning" type="button" (click)="modal.close()">OK</button>
    </div>
</ng-template>