<ng-template>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <mat-toolbar>Menu</mat-toolbar>
      <mat-nav-list>
        <a mat-list-item href="#">Link 1</a>
        <a mat-list-item href="#">Link 2</a>
        <a mat-list-item href="#">Link 3</a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar color="primary">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()"
          *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span>angular-coffee-shop</span>
      </mat-toolbar>
      <!-- Add Content Here -->
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-template>

<mat-toolbar color="primary">
  <div class="container d-flex align-items-baseline">
    <ng-template><a routerLink="" class="btn"><span>The Coffee Shop</span></a></ng-template>
    <template>
      https://stackoverflow.com/a/56874480
    </template>
    
    <span routerLink="" [style.cursor]="'pointer'">The Coffee Shop</span>
    <span class="flex-grow-1"></span>
    <nav class="d-flex gap-3">
        <app-cart-badge></app-cart-badge>
        <button class="btn">
            <i class="fa fa-user-circle fa-2x fa-inverse profile-icon" aria-hidden="true"></i>
        </button>
        <button class="btn" (click)="logout()">
            <i class="fa fa-sign-out fa-2x fa-inverse"></i>
        </button>
    </nav>
  </div>
</mat-toolbar>

<div class="container">
  <div class="flex-grow-1 my-3">
    <router-outlet></router-outlet>
  </div>
</div>

