<h2>Messages</h2>

<!-- <div *ngIf="messageService.messages.length">
    <button type="button"
            class="clear"
            (click)="messageService.clear()">Clear messages</button>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
  </div> -->