<div>
    <div class="modal-header">
        <h3 class="modal-title">Add Product</h3>
    </div>
    <form id="add-user-form" (ngSubmit)="submit()" [formGroup]="form">
        <div class="modal-body">
            <div class="mb-5">
                <h2>Basic info</h2>

                <div class="row mb-3 align-items-baseline">
                    <label for="name" class="col-form-label col-sm-3">Name</label>
                    <div class="col-sm"><input class="form-control" type="text" id="name" formControlName="name" />
                    </div>
                </div>

                <div class="row mb-3 align-items-baseline">
                    <label class="col-form-label col-sm-3" for="category">Category</label>
                    <div class="col-sm">
                        <select id="category" class="form-select" formControlName="category"
                            [compareWith]="compareCategory">
                            <option [ngValue]="null" disabled="disabled">Choose the category</option>
                            <option *ngFor="let category of categories" [ngValue]="category">
                                {{category.name}}
                            </option>
                        </select>
                    </div>
                </div>

                <div class="row mb-3 align-items-baseline">
                    <label class="col-form-label col-sm-3" for="description">Description</label>
                    <div class="col-sm">
                        <textarea class="form-control" name="description" id="" cols="30" rows="10"
                            formControlName="description">
                        </textarea>
                    </div>
                </div>

                <div class="row mb-3 align-items-baseline">
                    <label class="col-form-label col-sm-3">Image</label>
                    <div class="col-sm">
                        <input type="file" 
                        class="form-control d-none" name="image" accept="image/*"  #fileUpload (change)="handleFile($event)"/>
                        <div class="file-upload">
                            {{fileName || "No file uploaded yet."}}
                            <button mat-mini-fab color="primary" class="upload-btn ms-2" (click)="fileUpload.click()">
                                <mat-icon>attach_file</mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>


            <div formArrayName="variants" class="mb-5">
                <div class="row align-items-baseline mb-3">
                    <h2 for="" class="col-form-label col-sm-3">Variants</h2>
                    <div class="col-sm">
                        <ng-container *ngFor="let variant of variants.controls; let i = index">
                            <div class="row mb-3">
                                <div class="d-flex gap-2" [formGroupName]="i">
                                    <input class="form-control" type="text" formControlName="size"
                                        placeholder="Variant">
                                    <input class="form-control" type="number" inputmode="numeric" step="1000"
                                        formControlName="price">
                                    <button class="btn btn-danger" (click)="deleteVariant(i)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                        <div class="row">
                            <div class="col-sm">
                                <button class="btn btn-success" (click)="addVariant()">
                                    <i class="fa fa-plus"></i>
                                    New variants
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-footer">
                <button form="add-user-form" class="btn" type="button" (click)="cancel()">Cancel</button>
                <button form="add-user-form" class="btn btn-success" [disabled]="!form.valid"
                    type="submit">Save</button>
            </div>
        </div>
    </form>
</div>