<div>
    <div class="modal-header">
        <h3>{{order ? "Edit" : "Add"}} order</h3>
    </div>
    <form [formGroup]="form" (ngSubmit)="submit()">
        <div class="modal-body">
            <div class="mb-5">
                <h2>Basic Info</h2>
                <div class="row align-items-baseline mb-3">
                    <label for="deliveryAddr" class="col-form-label col-sm-3">Delivery Adr.</label>
                    <div class="col-sm">
                        <input type="text" id="deliveryAddr" required formControlName="deliveryAddr"
                            class="form-control" />
                    </div>
                </div>

                <div class="row align-items-baseline mb-3">
                    <label for="deliveryTime" class="col-form-label col-sm-3">Delivery Time</label>
                    <div class="col-sm">
                        <input type="date" id="deliveryTime" required formControlName="deliveryTime"
                            class="form-control" useValueAsDate />
                    </div>
                    
                    <template>
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </template>
                </div>

                <div class="row align-items-baseline mb-3">
                    <label for="note" class="col-form-label col-sm-3">Note</label>
                    <div class="col-sm">
                        <textarea id="note" class="form-control" formControlName="note">
                        </textarea>
                    </div>
                </div>
            </div>

            <div class="mb-5" formArrayName="items">
                <div class="row mb-3">
                    <h2 class="col-sm-3">Items</h2>
                    <div class="col-sm d-flex">
                        <div class="flex-grow-1"></div>
                        <button (click)="addItem()" class="btn btn-success">
                            <i class="fa fa-plus fa-xs" aria-hidden="true"></i>
                        </button>
                    </div>

                </div>
                <div>
                    <div class="mb-3">
                        <div *ngIf="!items.length">
                            No items at this moment.
                        </div>
                        <div *ngIf="items.errors?.['required'] && (items.touched || items.dirty)">
                            Order must have at least 1 items.
                        </div>
                        <div *ngIf="items.errors?.['arrayOfNonNull'] && (items.touched || items.dirty)">
                            All items must be selected.
                        </div>
                    </div>
                    
                    <ng-container *ngFor="let item of items.controls; let i = index">
                        <div class="row align-items-baseline mb-3" [formGroupName]="i">
                            <label for="" class="col-form-label col-sm-3">{{i + 1}}</label>
                            <div class="col-sm d-flex gap-2">
                                <select name="" id="" class="form-select flex-shrink-1" formControlName="product"
                                    [compareWith]="compareProduct">
                                    <option [ngValue]="null" disabled>Choose products</option>
                                    <option [ngValue]="product" *ngFor="let product of (products)">
                                        {{product.name}}
                                    </option>
                                </select>
                                <div class="d-flex">
                                    <div class="mr-auto flex-grow-1"></div>
                                    <button (click)="deleteItem(i)" class="btn btn-outline-danger">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>

                        <!-- <div class="row align-items-baseline mb-3" >
                            <label for="" class="col-form-label col-sm-3">{{i + 1}}</label>
                            <div class="col-sm d-flex gap-2">
                                <select name="" id="" class="form-select flex-shrink-1"
                                    [compareWith]="compareProduct" [formControlName]="i">
                                    <option [ngValue]="null" disabled>Choose products</option>
                                    <option [ngValue]="product" *ngFor="let product of (products)">
                                        {{product.name}}
                                    </option>
                                </select>
                                <div class="d-flex">
                                    <div class="mr-auto flex-grow-1"></div>
                                    <button (click)="deleteItem(i)" class="btn btn-outline-danger">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div> -->
                    </ng-container>
                </div>
            </div>

            <div class="mb-5" formArrayName="vouchers">
                <div class="row mb-3">
                    <h2 class="col-sm-3">Voucher</h2>
                    <div class="col-sm d-flex">
                        <div class="flex-grow-1"></div>
                        <button [disabled]="formVouchers.length >= 1" (click)="addVoucher()" class="btn btn-success">
                            <i class="fa fa-plus fa-xs" aria-hidden="true"></i>
                        </button>
                    </div>
                </div>
                <ng-template>
                    <div class="row mb-3 align-items-baseline">
                        <label class="col-form-label col-sm-3" for="voucher">Voucher</label>
                        <div class="col-sm">
                            <select id="voucher" formControlName="voucher" class="form-select">
                                <option [ngValue]="null" disabled>Choose the category</option>
                                <option *ngFor="let voucher of vouchers" [ngValue]="voucher">
                                    {{voucher.code}} - {{voucher.usageLeft}} usage(s) left
                                </option>
                            </select>
                        </div>
                    </div>
                </ng-template>
                <div>
                    <div *ngIf="!formVouchers.length">
                        No vouchers at this moment.
                    </div>
                    <ng-container *ngFor="let orderVoucher of formVouchers.controls; let i = index">
                        <div class="row align-items-baseline mb-3">
                            <label for="" class="col-form-label col-sm-3">{{i + 1}}</label>
                            <div class="col-sm d-flex gap-2">
                                <select name="" id="" class="form-select flex-shrink-1" [formControlName]="i"
                                    [compareWith]="compareVoucher">
                                    <option [ngValue]="null" disabled>Choose voucher</option>
                                    <option [disabled]="voucher.minProductsRequired > items.length" [ngValue]="voucher" *ngFor="let voucher of (vouchers)">
                                        {{voucher.code}} - ({{voucher.maxPercentage}}% - Max {{voucher.maxDiscountInVND | vnd}})
                                    </option>
                                </select>
                                <div class="d-flex">
                                    <div class="mr-auto flex-grow-1"></div>
                                    <button (click)="deleteVoucher(i)" class="btn btn-outline-danger">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button class="btn" type="button" (click)="cancel()">Cancel</button>
            <button class="btn btn-warning" type="submit">Save</button>
        </div>
    </form>
</div>