<a [routerLink]="['/cart']" class="btn" [matBadge]="length" matBadgeColor="accent" [matBadgeHidden]="(!(length))">
    <i class="fa fa-shopping-basket fa-2x fa-inverse"></i>
</a>

<!-- <button class="btn">
    <i class="fa fa-shopping-basket fa-2x fa-inverse"></i>
</button> -->