<!-- <ng-template>
    <table class="table table-hover table-striped">
        <thead>
            <tr>
                <th *ngFor="let column of columns; index as i">
                    <span>{{column["title"]}}</span>
                </th>
                <th *ngIf="rowActions.length">
                    <span>Action</span>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of data">
                <td *ngFor="let column of columns">
                    <span>{{column.displayAs ? column.displayAs(row) : row[column["property"]]}}</span>
                </td>
                <td *ngIf="rowActions.length" class="d-flex gap-2">
                    <ng-container *ngFor="let action of rowActions">
                        <button class="btn btn-warning" (click)="action.action(row)">{{action["title"]}}</button>
                    </ng-container>
                </td>
            </tr>
        </tbody>
    </table>
</ng-template> -->

<table mat-table [dataSource]="data" (matSortChange)="createSortEvent($event)" class="mat-elevation-z8 w-100" matSort>
    <ng-container *ngFor="let col of columns">
        <ng-container [matColumnDef]='col["property"]'>
            <ng-container *ngIf="col.sortable">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>{{col["title"]}}</th>
            </ng-container>
            <ng-container *ngIf="!col.sortable">
                <th mat-header-cell *matHeaderCellDef>{{col["title"]}}</th>
            </ng-container>
            <td mat-cell *matCellDef="let row">{{col.displayAs ? col.displayAs(row) : row[col["property"]]}}</td>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="rowActions.length" matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef>Action</th>
        <td mat-cell *matCellDef="let row">
            <div class="d-flex gap-2">
                <ng-container *ngFor="let action of rowActions">
                    <button class="btn btn-warning" (click)="action.action(row)">{{action["title"]}}</button>
                </ng-container>
            </div>
        </td>
    </ng-container>

    <ng-container *ngIf="enableRowSelect" matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
            <mat-checkbox (change)="$event ? masterToggleWithAction(): null" [checked]="isAllSelected()"
                [indeterminate]="selection.hasValue() && !isAllSelected()"></mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
            <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? toggleRow(row) : null"
                [checked]="selection.isSelected(row)"></mat-checkbox>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumns" (click)="enableRowSelect ? selection.toggle(row): null">
    </tr>
</table>