<ng-template>
    <div *ngIf="product">
        <div class="modal-header">
            <h3 class="modal-title">Update Product</h3>
        </div>
        <form id="add-user-form" (ngSubmit)="submit()" [formGroup]="form">
            <div class="modal-body">
                <div>
                    <label for="name">Name</label>
                    <input type="text" id="name" formControlName="name" />
                </div>
                <div>
                    <label for="category">Category</label>
                    <select id="category" formControlName="category" [compareWith]="compareCategory">
                        <option [ngValue]="null" disabled="disabled">Choose the category</option>
                        <option *ngFor="let category of categories" [ngValue]="category">
                            {{category.name}}
                        </option>
                    </select>
                </div>
                <div formArrayName="variants">
                    <label for="">Variants</label>
                    <ng-container *ngFor="let variant of variants.controls; let i = index">
                        <div [formGroupName]="i">
                            <input type="text" formControlName="size">
                            <input type="number" inputmode="numeric" formControlName="price">
                            <button (click)="deleteVariant(i)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </div>
                    </ng-container>
                    <button (click)="addVariant()">
                        <i class="fa fa-plus" style="margin-right: 0.5em;">
                            new variants
                        </i>
                    </button>
                </div>
                <div>
                    <label for="description">Description</label>
                    <textarea name="description" id="" cols="30" rows="10" formControlName="description"></textarea>
                </div>
    
                <!-- <div>
              <label>Gender</label>
              <input type="radio" id="male" value="Male" name="gender" formControlName="gender">
              <label for="male">Male</label>
              <input type="radio" id="female" value="Female" name="gender" formControlName="gender">
              <label for="female">Female</label>
            </div> -->
    
                <div class="modal-footer">
                    <button form="add-user-form" class="btn" type="button" (click)="cancel()">Cancel</button>
                    <button form="add-user-form" class="btn btn-success" [disabled]="!form.valid" type="submit">Save</button>
                </div>
            </div>
        </form>
    </div>
</ng-template>

<div *ngIf="product">
    <div class="modal-header">
        <h3 class="modal-title">Update Product</h3>
    </div>
    <form id="add-user-form" (ngSubmit)="submit()" [formGroup]="form">
        <div class="modal-body">
            <div class="mb-5">
                <h2>Basic info</h2>
                <div class="row mb-3 align-items-baseline">
                    <label for="name" class="col-form-label col-sm-3">Name</label>
                    <div class="col-sm"><input class="form-control" type="text" id="name" formControlName="name" /></div>
                </div>
                <div class="row mb-3 align-items-baseline">
                    <label class="col-form-label col-sm-3" for="category">Category</label>
                    <div class="col-sm">
                        <select id="category" class="form-select" formControlName="category" [compareWith]="compareCategory">
                            <option [ngValue]="null" disabled="disabled">Choose the category</option>
                            <option *ngFor="let category of categories" [ngValue]="category">
                                {{category.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row mb-3 align-items-baseline">
                    <label class="col-form-label col-sm-3" for="description">Description</label>
                    <div class="col-sm">
                        <textarea class="form-control" name="description" id="" cols="30" rows="10"
                            formControlName="description">
                        </textarea>
                    </div>
                </div>
            </div>

            <div formArrayName="variants" class="mb-5">
                <div class="row align-items-baseline mb-3">
                    <h2 for="" class="col-form-label col-sm-3">Variants</h2>
                    <div class="col-sm">
                        <ng-container *ngFor="let variant of variants.controls; let i = index">
                            <div class="row mb-3">
                                <div class="d-flex gap-2" [formGroupName]="i">
                                    <input class="form-control" type="text" formControlName="size"
                                        placeholder="Variant">
                                    <input class="form-control" placeholder="Price" type="number" inputmode="numeric" step="1000"
                                        formControlName="price">
                                    <button class="btn btn-danger" (click)="deleteVariant(i)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </button>
                                </div>
                            </div>
                        </ng-container>
                        <div class="row">
                            <div class="col-sm">
                                <button class="btn btn-success" (click)="addVariant()">
                                    <i class="fa fa-plus" style="margin-right: 0.5em;"> New variants </i>
                                </button>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="modal-footer">
                <button form="add-user-form" class="btn" type="button" (click)="cancel()">Cancel</button>
                <button form="add-user-form" class="btn btn-success" [disabled]="!form.valid"
                    type="submit">Save</button>
            </div>
        </div>
    </form>
</div>