<div class="mb-4 d-flex align-items-center">
    <span class="font-weight-bold mr-auto flex-grow-1" style="font-size:x-large;">{{"Voucher Management" | uppercase}}</span>
    <div class="d-flex gap-1">

        <button class="btn btn-danger" *ngIf="allSelected.length"  (click)="openDeleteDialog(deleteDialog)">
            <i class="fa fa-trash fa-inverse" aria-hidden="true"></i>
        </button>

        <app-search (resultEmitter)="search($event)"></app-search>

        <button type="button" class="btn btn-warning" (click)="openAddVoucher()">
            <i class="fa fa-plus fa-inverse"></i>
        </button>
        <button class="btn btn-warning" (click)="refresh()">
            <i class="fa fa-refresh fa-inverse"></i>
        </button>
    
    </div>
</div>

<app-table [columns]="columns" [data]="dbVouchers" [rowActions]="rowActions" (selectedEmitter)="setAllSelected($event)"></app-table>
<app-pagination [numOfElements]="vouchers.length" [lastPage]="lastPage" (pageChange)="onPageChange($event)"></app-pagination>

<ng-template>
    <div class="d-flex align-items-center">
        <!-- <p class="flex-grow-1">Showing {{vouchers.length}} products</p> -->
        <app-pagination [numOfElements]="vouchers.length" [lastPage]="lastPage" (pageChange)="onPageChange($event)"></app-pagination>
    </div>
</ng-template>

<ng-template #deleteDialog let-modal>
    <div class="modal-header">
        <h3 class="modal-title">Delete vouchers</h3>
    </div>
    <div class="modal-body">
        <p>Are you sure you want to delete all selected vouchers?</p>
    </div>
    <div class="modal-footer">
        <button class="btn btn-secondary" type="button" (click)="modal.dismiss('Cancel delete')">Cancel</button>
        <button class="btn btn-warning" type="button" (click)="modal.close()">OK</button>
    </div>
</ng-template>

<!-- <div *ngIf="enableDelete && selectedUser">
    <h3>Delete users</h3>
    <app-modal (emitter)="confirmDelete($event)"></app-modal>
</div>
<app-update-user *ngIf="enableEdit && selectedUser" [user]="selectedUser" (userEmitter)="updateUser($event)"></app-update-user>
<app-add-user *ngIf="enableAdd" (userEmitter)="addUser($event)"></app-add-user> -->